<div class="card mt-2 note-card" data-type="note">
    <label class="note-select hide-if-user-has-no-javascript"><input type="checkbox" class="note-select-cb" /></label>
    <div class="card-header">
        <a href="/notes/{{notebookId}}/{{id}}" class="tile-title note-title-text noteLink"></a>
        <small class="tile-subtitle" style="display:none;">{{formattedDate}}</small>
        {{is_shared}}
        <span class="tags"></span>
    </div>
    <div class="card-body" style="display:none;">{{content}}</div>
</div>
