{{followForm}}
<div class="dropdown dropdown-right">
    <a class="btn btn-glossy dropdown-toggle" tabindex="0"><i class="bi bi-gear"></i></a>
    <ul class="menu">
        {{unFollowForm}}
        <li class="menu-item">
            <form method="POST" action="/users/{{muteUnmute}}" class="inline-action">
                <input type="hidden" name="username" value="{{username}}" />
                <button class="btn btn-block" type="submit">{{muteUnmute}} user</button>
            </form>
        </li>
        <li class="menu-item">
            <form method="POST" action="/users/{{blockUnblock}}" class="inline-action">
                <input type="hidden" name="username" value="{{username}}" />
                <button class="btn btn-block" type="submit">{{blockUnblock}} user</button>
            </form>
        </li>
    </ul>
</div>