<div class="container bookmarks">
    <div class="blog-toolbar mb-2 mt-2">
        <form method="GET" action="/bookmarks">
            <div class="input-group">
                <input autocomplete="off" type="search" name="q" value="{{q}}" class="form-input" placeholder="Search bookmarks..." />
                <button type="submit" class="btn btn-glossy-purple"><i class="bi bi-search"></i></button>
            </div>
        </form>
        {{tagChips}}
    </div>

    {{feed}}
    {{loadAllLink}}
</div>
