<div class="card mt-2">
    <div class="card-header">
        <div class="card-header-scroll">
            <div class="card-header-main">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-title">{{title}}</p>
                        <small class="tile-subtitle">{{formattedDate}}</small>
                        {{tags}}
                    </div>
                </div>
            </div>
            <div class="card-header-actions btn-group">
                <a class="btn btn-glossy-blue btn-sm" href="{{editUrl}}"><i class="bi bi-pencil"></i> Edit</a>
            </div>
        </div>
    </div>
    <div class="card-body">{{content}}</div>
</div>
