<div class="tile tile-centered">
    <div class="tile-icon">
        <img width="128" height="198" loading="lazy" src="{{image}}" alt="{{title}} bookcover" />
    </div>
    <div class="tile-content">
        <div class="tile-title">{{title}}</div>
        <small class="tile-subtitle text-gray">{{authors}}</small><br/>
        <button class="btn btn-sm mb-2">Post</button>
        <button class="btn btn-sm mb-2">Edit</button>
    </div>
    <!--<div class="tile-action">
        <button class="btn btn-link">
        <i class="bi bi-three-dots-vertical"></i>
        </button>
    </div>-->
</div>