<div class="book-tile">
<div style="padding: 1em;" class="tile tile-centered mt-2">
    <div class="tile-icon">
        <img width="64" height="99" loading="lazy" src="{{image}}" alt="{{title}} bookcover" />
    </div>
    <div class="tile-content">
        <div class="tile-title">{{title}}</div>
        <small class="tile-subtitle text-gray">{{authors}}</small><br/>
        <a a onclick="addLoading(this)" href="/post?book={{titleEncoded}}&authors={{authorsEncoded}}&shelf={{shelf}}&link={{link}}" class="btn btn-sm mb-2">Create Post</a>
        <a a onclick="addLoading(this)" href="/bookshelves/shelf/{{shelfId}}/book/{{id}}" class="btn btn-sm mb-2">Edit</a>
    </div>
</div>
</div>