<div class="tile tile-centered">
    <div class="tile-icon">
        <img width="128" height="198" loading="lazy" src="{{image}}" alt="{{title}} bookcover" />
    </div>
    <div class="tile-content">
        <div class="tile-title">{{title}}</div>
        <small class="tile-subtitle text-gray">{{authors}}</small><br/>
        <a a onclick="addLoading(this)" href="/post?book={{titleEncoded}}&authors={{authorsEncoded}}&shelf={{shelf}}&link={{link}}" class="btn btn-sm mb-2">Post</a>
        <!--<button onclick="addLoading(this)" class="btn btn-sm mb-2">Edit</button>-->
    </div>
</div>