<style>
    .cta {
        color: #232634;
    }
</style>
<div class="cta">
    <div class="p-centered">
        <img width="150px" height="150px" src="/lillihub-512.png">
        <p class="m-2">A delightful Micro.blog web client built by <a href="https://heyloura.com">Loura</a></p>
        {{HTMLLoginForm}}
    </div>
    <p><br/><b>Frequently Asked Questions</b></p>
    <details class="c-hand">
        <summary>Can I use Micro.blog for free?</summary>
        Yes! You do need to use a credit card when you sign up
    </details>
    <details class="c-hand">
        <summary>Indieweb support</summary>
    </details>
    <details class="c-hand">
        <summary>Do I need to have JavaScript enabled?</summary>
    </details>
</div>