<p><b>Login in using:</b><br/> https://<em>username</em>.micro.blog or with your custom domain name if you have one configured.</p>
<form action="https://micro.blog/indieauth/auth" method="get" class="cta-form p-centered">
    <div class="form-group">
        <div class="input-group">  
              <input style="background-color: white;" id="loginMe" class="form-input" type="url" placeholder="https://username.micro.blog" name="me">
              <button onclick="addLoading(this)" type="submit" class="btn btn-primary input-group-btn">Sign In</button>
              <input type="hidden" name="client_id" value="{{appURL}}"/>
              <input type="hidden" name="redirect_uri" value="{{appURL}}/auth"/>
              <input type="hidden" name="state" value="{{uuid}}"/>
              <input type="hidden" name="scope" value="create"/>
              <input type="hidden" name="response_type" value="code"/>
        </div>
    </div>
</form>
<details>
    <summary>Want to use an app token instead?</summary>
    <form action="/login" method="post" class="p-centered">
        <div class="form-group">
            <div class="input-group">  
                <input class="form-input" type="url" placeholder="app token" name="token">
                <button onclick="addLoading(this)" type="submit" class="btn btn-primary input-group-btn">Sign In</button>
            </div>
        </div>
    </form>
</details>