<div class="tile tile-centered">
    <div class="tile-icon">
        <img width="100" height="100" loading="lazy" src="{{url}}" />
    </div>
    <div class="tile-content">
        <div class="tile-title">{{url}}</div>
        <small class="tile-subtitle text-gray"><sl-format-date month="long" day="numeric" year="numeric" hour="numeric" minute="numeric" hour-format="12" date="{{published}}">{{published}}</sl-format-date></small><br/>
    </div>
    <!--<div class="tile-action">
        <button class="btn btn-link">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
    </div>-->
</div>