<div style="padding: 1em;" class="tile mt-2 mb-2">
    <div class="tile-icon">
        <img style="object-fit: cover;" width="175" height="175" src="{{url}}" alt="{{alt}}">
    </div>
    <div class="tile-content">
        <p class="tile-title">
            <a target="_blank" href="{{url}}">{{url}}</a>
            <br/>
            {{altDisp}}   
        </p>
        <p class="tile-subtitle"><sl-format-date month="numeric" day="numeric" year="numeric" hour="numeric" minute="numeric" hour-format="12" date="{{published}}">{{publishedDisplay}}</sl-format-date></p>
    </div>
    <div class="tile-action">
        <div class="btn-group">
            <div class="dropdown dropdown-right">
                <a href="javascript:;" class="btn btn-link dropdown-toggle" tabindex="0">
                    <i class="bi bi-three-dots-vertical"></i>
                </a>
                <ul class="menu">           
                    <li class="menu-item"><a onclick="addLoading(this)" href="/post?img={{encodedUrl}}&alt={{altEncoded}}">Create Post</a></li>
                    <li class="menu-item">
                        <details>
                            <summary>Delete?</summary>
                            <form action="/media/delete" method="POST">
                                <input type="hidden" name="destination" value="{{destination}}" />
                                <input type="hidden" name="url" value="{{url}}" />
                                <button onclick="addLoading(this)" type="submit" class="btn btn-link">Confirm Delete</button>
                            </form>
                        </details>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>