<div style="padding: 1em;" class="card mt-2" onclick="toggleCard(this)">
    <div class="card-footer text-muted" style="font-size: small;">
        <a onclick="addLoading(this)" href="/notes/{{notebookId}}/update?id={{id}}" class="btn btn-link"><i class="bi bi-pencil"></i><span class="title"><sl-format-date month="long" 
            day="numeric" 
            year="numeric" 
            hour="numeric" 
            minute="numeric" 
            hour-format="12" 
            date="{{modified}}">{{modified}}
        </sl-format-date></span></a>
        {{is_shared}}
        <span class="tags"></span>
    </div>
    <div class="card-body">{{content}}</div>
    <hr/>
</div>
