<div style="padding: 1em 0; border:0; border-top:0.05rem solid var(--mantle);" class="card mt-2">
    <div class="card-footer text-muted" style="font-size: small;">
        <a onclick="addLoading(this)" href="/notes/{{notebookId}}/update?id={{id}}" class="btn btn-link pl-0"><i class="bi bi-pencil"></i><span class="title"><sl-format-date month="long" 
            day="numeric" 
            year="numeric" 
            hour="numeric" 
            minute="numeric" 
            hour-format="12" 
            date="{{modified}}">{{modified}}
        </sl-format-date></span></a>
        <button class="hide btn btn-link expandBtn" onclick="toggleCard(this)"><i class="bi bi-arrows-expand"></i></button>
        {{is_shared}}
        <span class="tags"></span>
    </div>
    <div class="card-body">{{content}}</div>
</div>
