<div class="card mt-2">
    <div class="card-header">
        <div class="tile">
            <div class="tile-icon">
                <figure class="avatar avatar-lg"><img src="{{avatar}}" alt="Avatar" loading="lazy" height="48" width="48"></figure>
            </div>
            <div class="tile-content">
                <p class="tile-title">
                    {{name}}<br/><small class="tile-subtitle"><a href="/user/{{username}}">@{{username}}</a></small>
                </p>
            </div>
            <div class="tile-action">
                {{new}}
                {{tags}}
                {{actions}}
            </div>
        </div>
    </div>
    <div class="card-body">{{content}}</div>
    <div class="card-footer">
        <small>
            <a href="{{url}}">
                <sl-format-date month="long" 
                    day="numeric" 
                    year="numeric" 
                    hour="numeric" 
                    minute="numeric" 
                    hour-format="12" 
                    date="{{publishedDate}}">{{relativeDate}}
                </sl-format-date>
            </a>
        </small>
        <br/>
        <div id="{{id}}" class="comments">
            {{comments}}
            {{reply}}
        </div>
    </div>
</div>
