<div class="form-group mt-2">
    <form method="POST" action="/settings/timeline" enctype="multipart/form-data">
        <div class="input-group">
            <select class="form-select" style="display:inline-block" name="display">
                <option {{both}} value="both">Show both conversations and posts</option>
                <option {{posts}} value="posts">Show followed posts only</option>
                <option {{classic}} value="classic">The way micro.blog does it</option>
            </select>
            <button onclick="addLoading(this)" class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
</div>