<div class="container my-posts">
    <div class="no-border mb-2">
        <div class="following-search">
            <div class="btn-group mt-2">
                {{destinationDropdown}}
                {{categoriesHTML}}
            </div>
            <div style="clear: both">
                <div class="no-border hide-if-user-has-no-javascript">
                    <div class="input-group mb-2 mt-2">
                        <input autocomplete="off" type="search" id="q" class="form-input" value="{{q}}">
                        <button onclick="addLoading(this);window.location.href='/posts?status={{status}}&destination={{destination}}&q='+encodeURIComponent(document.getElementById('q').value)" class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
                    </div>
                </div>
            </div>   
        </div>
    </div>
 
    {{feed}}
    <a onclick="addLoading(this)" href="{{nextHref}}" class="btn btn-link m-2 float-right">Next</a>
</div>