<style>.purple-chip { background-color: var(--purplered); color: var(--base);}</style>
<div class="container bookmarks">
    <p class="pt-2"><b>Add a bookmark</b></p>
    <div class="no-border m-2 p-2">
        <form autocomplete="off" method="POST" action="/bookmarks/new" >
            <div class="form-group">
                <div class="input-group">  
                    <input class="form-input" type="url" name="url" placeholder="url...">
                    <input type="hidden" name="redirect" value="true" />
                    {{tagInput}}
                    {{tagsDataList}}
                    <button onclick="addLoading(this)" type="submit" class="btn btn-primary input-group-btn">Add</button>
                </div>
            </div>
        </form>
    </div>
    <div style="clear:both;"></div>
    {{tags}}   
    <p class="pt-2 hide-if-user-has-no-javascript"><b>Search bookmarks</b></p>
    <div class="no-border m-2 p-2 hide-if-user-has-no-javascript">
        <div class="input-group">
            <input type="search" oninput="liveSearch('.card', 'searchbox')" id="searchbox" class="form-input" placeholder="Search Page" />
        </div>
    </div>
    <p class="pt-2"><b>Bookmarks</b></p>
</div>
{{feed}}