<style>{{easyMDECSS}}</style>
<script>{{easyMDEJS}}</script>
<script>{{compressor}}</script>
<style>
textarea {
    overflow: auto;
    width: 100%;
    height: 600px;
    background-color: var(--base);
    border: 0;
    padding: 0.4em;
    margin-bottom: -0.4em;
}
textarea:focus, textarea:active {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none !important;
}
</style>
<div class="container">
    <form class="box" style="clear:both;" action="/post/{{editOrAdd}}" method="POST" enctype="multipart/form-data">
        <div class="btn-group float-right mt-2">
            {{destinationDropdown}}
            {{categoriesDropdown}}
            {{syndicatesDropdown}}
        </div>
        <input name="destination" type="hidden" value="{{mpDestination}}"> 
        {{editInput}}
        <div style="clear:both;" class="input-group">
            <input class="form-input" type="text" placeholder="title (optional)" {{title}}>                
        </div>
        <textarea id="content"  name="content">{{image}}{{quoteback}}{{content}}{{bookPost}}</textarea>
        <div class="float-right mt-2">
            <div class="input-group">
                <select class="form-select" style="display:inline-block" name="status">
                    <option value="publish" {{publishSelected}}>publish</option>
                    <option value="draft" {{draftSelected}}>draft</option>
                </select>
                <button onclick="addLoading(this)" type="submit" class="btn btn-primary">Save & Submit</button>
            </div>
        </div>
    </form>
<div>
<script>
    countChecked('category[]', 'categoriesDropdown');
    function countChecked(name, id) {
        var checkedBoxes = document.querySelectorAll(`input[name="${name}"]:checked`).length;
        var element = document.getElementById(id);

        if(checkedBoxes == 0) {
            element.removeAttribute('data-badge');
            element.classList.remove('badge');
        } else {
            element.setAttribute('data-badge', checkedBoxes);
            element.classList.add('badge');
        }
    }
</script>
<script>
    const easymde = new EasyMDE({
        element: document.getElementById('content'),
        uploadImage: true,
        inputStyle: 'contenteditable',
        nativeSpellCheck: true,
        minHeight: '50vh',
        showIcons: ["code"],
        previewImagesInEditor: true,
        status: ["upload-image", "autosave", "lines", "words", "cursor", {
            className: "keystrokes",
            defaultValue: (el) => { },
            onUpdate: (el) => {
                const keystrokes = Number(el.getAttribute('data-keystrokes'));
                const content = easymde.value() || '';
                const images = content.split('![');
                let text = images[0];
                
                if(images.length > 1) {
                    for(let i = 0; i<images.length; i = i + 2) {
                        let subchunks = images[i + 1] ? images[i + 1].split(')') : [];
                        subchunks[0] = '';
                        text += subchunks.join('');
                    }
                }

                const chunks = text.split('](');
                let count = chunks[0].replace('[','').length;
                if(chunks.length > 1) {
                    for(let i = 1; i < chunks.length; i++) {
                        let subchunks = chunks[i].replace('[','').split(')');
                        if(subchunks.length > 1) {
                            count += subchunks[1].length;
                        }
                    }
                } else {
                    count = text.length;
                }
                el.innerHTML = 'characters: ' + count + '/300';
                if(count > 300) {
                    el.classList.add('overage');
                }
                else {
                    el.classList.remove('overage');
                }
            },
        }],
        imageUploadFunction: async (image, onSuccess, onError) => {
            let formData = new FormData();
            formData.append("destination", "{{mpDestination}}"); 
            new Compressor(image, {
                quality: 0.95,
                maxHeight: 1920,
                maxWidth: 1920,
                success(result) {
                    console.log('new size: ' + result.size /1024 /1024 + ' MB');
                    if(result.size /1024 /1024 > 3) {
                        new Compressor(result, {
                            quality: 0.85,
                            maxHeight: 1920,
                            maxWidth: 1920,
                            success(result) {
                                console.log('another compress size: ' + result.size /1024 /1024 + ' MB');
                                formData.append("media", result, result.name);
                                fetch('/media/upload', { method: "POST", body: formData })
                                    .then(response => console.log(response.status) || response)
                                    .then(response => response.text())
                                    .then(body => onSuccess(body));
                            },
                        });
                    } else {
                        formData.append("media", result, result.name);
                        fetch('/media/upload', { method: "POST", body: formData })
                            .then(response => console.log(response.status) || response)
                            .then(response => response.text())
                            .then(body => onSuccess(body));
                    }
                },
            });
        },
    });
</script>
