<style>
    @media screen and (max-width:600px) {
        /* .tile { flex-wrap: wrap;  } */
        .tile-icon { flex-basis: 100% !important; flex: unset !important; }
    }
</style>
<div class="container">
    <div class="no-border mb-2">
        <div class="following-search">
            <form enctype="multipart/form-data" style="display: inherit;" action="/media/upload" method="POST">
                <div class="">
                    {{destinationDropdown}}
                </div>
                <div style="clear:both" class="input-group mb-2 mt-2">
                    <input type="hidden" name="destination" value="{{destination}}"/>
                    <input type="hidden" name="redirect" value="true"/>
                    <input style="padding:0;height:unset;" type="file" name="media" class="form-input" />
                    <button onclick="addLoading(this)" type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
            <div style="clear: both">
                <div class="no-border hide-if-user-has-no-javascript">
                    <div class="input-group">
                        <input type="search" id="searchbox" oninput="liveSearch('.media', 'searchbox')" class="form-input" placeholder="Search" />
                    </div>
                </div>
            </div>   
        </div>
    </div>
    <div style="clear: both;">
        <p><b>My Blog Media</b></p>
        {{feed}}
        <a onclick="addLoading(this)" href="/media?destination={{destination}}&offset={{offset}}" class="btn btn-link float-right">Next</a>
    </div>
    <style>
    .tile-title {
        max-width: 400px;
    }
    </style>
</div>