<style>{{easyMDECSS}}</style>
<script>{{easyMDEJS}}</script>

<ul class="breadcrumb pl-2">
    <li class="breadcrumb-item">
        <a onclick="addLoading(this)" href="/notes/{{id}}">{{name}}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">{{breadcrumb}}</a>
    </li>
</ul>
{{viewVersion}}
<div class="box">
    <input type="hidden" id="original" value="{{originalValue}}" />
    <textarea id="content"></textarea>
</div>
{{versions}}
{{editDelete}}
<button onclick="addLoading(this)" class="btn btn-primary m-2 float-right" id="saveNoteBtn">Save Note</button>
<div style="clear:both"></div>
<script type="module">
    const easymde = new EasyMDE({
        element: document.getElementById('content'),
        uploadImage: false,
        minHeight: '50vh',
        showIcons: ["code"],
        nativeSpellcheck: true,
        inputStyle: 'contenteditable',
        status: ["lines", "words", "cursor"],
    });

    const imported_key = localStorage.getItem("notes_key") ? await crypto.subtle.importKey(
        'raw',
        hexStringToArrayBuffer(localStorage.getItem("notes_key").substr(4)),
        { name: 'AES-GCM', length: 256 },
        true,
        ['encrypt', 'decrypt']
    ) : '';

    function hexStringToArrayBuffer(hexString) {
        const length = hexString.length / 2;
        const array_buffer = new ArrayBuffer(length);
        const uint8_array = new Uint8Array(array_buffer);
       
        for (let i = 0; i < length; i++) {
            const byte = parseInt(hexString.substr(i * 2, 2), 16);
            uint8_array[i] = byte;
        }
       
        return array_buffer;
    }

    async function decryptWithKey(encryptedText) {
        const encrypted_data = new Uint8Array(atob(encryptedText).split('').map(char => char.charCodeAt(0)));
        const iv = encrypted_data.slice(0, 12);
        const ciphertext = encrypted_data.slice(12);

        const decrypted_buffer = await crypto.subtle.decrypt(
            { name: 'AES-GCM', iv },
            imported_key,
            ciphertext
        );
       
        const decoder = new TextDecoder();
        const decrypted_text = decoder.decode(decrypted_buffer);
        return decrypted_text;
    }

    async function decryptNotes() {
        if(localStorage.getItem("notes_key"))
        {
            const converter = new showdown.Converter();
            const cards = document.querySelectorAll('.decryptMe');
            for (var i = 0; i < cards.length; i++) {
                cards[i].innerHTML = converter.makeHtml(await decryptWithKey(cards[i].innerHTML));
            }
        }
    }

    async function encryptWithKey(text) {
        const iv = crypto.getRandomValues(new Uint8Array(12));
        const encoder = new TextEncoder();
        const plaintext_buffer = encoder.encode(text);
       
        const ciphertext_buffer = await crypto.subtle.encrypt(
            { name: 'AES-GCM', iv },
            imported_key,
            plaintext_buffer
        );
       
        const encrypted_data = new Uint8Array([...iv, ...new Uint8Array(ciphertext_buffer)]);
        const base64_encoded = btoa(String.fromCharCode(...encrypted_data));
        return base64_encoded;
    }

    if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", async function(event) {
            if({{is_shared}}) {
                easymde.value(document.getElementById("original").value);
            } else {
                easymde.value(await decryptWithKey(document.getElementById("original").value));
            }
            document.getElementById("saveNoteBtn").onclick = registerClick;
        });
    }
    else
    {
        if(document.getElementById("original").value) {
            if({{is_shared}}) {
                easymde.value(document.getElementById("original").value);
            } else {
                easymde.value(await decryptWithKey(document.getElementById("original").value));
            }
        }
        document.getElementById("saveNoteBtn").onclick = registerClick;
    }

    async function registerClick() {
        let note = easymde.value();
        let eNote = '';
        if(note) {
            if({{is_shared}}) {
                eNote = note;
            } else {
                eNote = await encryptWithKey(note);
            }      
            const form = new URLSearchParams();
            form.append("text", eNote);
            form.append("notebook_id", {{id}});
            {{editAppend}}
                
            const posting = await fetch('/note/update', {
                method: "POST",
                body: form.toString(),
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded; charset=utf-8"
                }
            });
            window.location.href = '/notes/{{id}}';
        }
    }
</script>