<script src="https://cdn.jsdelivr.net/npm/showdown@2.0.3/dist/showdown.min.js" defer></script>
<div class="container">
    <div class="no-border panel mb-2 mt-2 p-2 bg-primary hide-if-user-has-javascript" style="clear:both">
        <p>Notes require JavaScript to be enabled.</p>
    </div>
    <div id="enter_notes_key" class="hide-if-user-has-no-javascript no-border panel mb-2 mt-2 p-2" style="clear:both">
        <p>Notes are encrypted in the browser before sending them to the server, so neither Lillihub nor Micro.blog sees the note text.</p>
        <div>
            <p>You will need to enter your secret key into Lillihub to access/create your notes within the app. The key is saved in your browser's
            local storage and is never sent to Lillihub. You can review this file's source code to confirm.</p>
            <div class="input-group">
                <input id="notes_key" type="text" class="form-input bg-light" placeholder="Micro.blog Key">
                <button class="btn btn-primary" onclick="addLoading(this);localStorage.setItem('notes_key', document.getElementById('notes_key').value);window.location.href = '/notes';"><i class="bi bi-save"></i></button>
            </div>
        </div>
        <div id="hide_notes_key">
            <p><button class="btn btn-link d-inline" onclick="addLoading(this);localStorage.setItem('notes_key', '');window.location.href = '/notes';"><i class="bi bi-trash"></i> Clear out your secret key.</button></p>           
        </div>
    </div>
    <script>
        document.getElementById('hide_notes_key').style.display = 'none';
        if(localStorage.getItem("notes_key")) {
            document.getElementById('enter_notes_key').style.display = 'none';
            document.getElementById('hide_notes_key').style.display = 'block';
        }
    </script>
    <div class="clearfix"></div>
    <div class="no-border m-2 p-2 hide-if-user-has-no-javascript">
        <div class="input-group">
            <input list="noteTags" type="search" id="searchbox" oninput="liveSearch('.card', 'searchbox')" class="form-input" placeholder="Search" />
        </div>
    </div>
    <datalist id="noteTags"></datalist>
    {{notes}}
    <template id="notebooks">
        {{notebooks}}
    </template>
    <style>
    .card {
        cursor: pointer;
    }
    .card {
        max-height: 500px; /* Set a maximum height */
        overflow: hidden; /* Hide overflow text */
        transition: max-height 0.3s ease, opacity 0.3s ease; /* Smooth transition */
        opacity: 1; /* Initial opacity */
    }
    .card.expanded {
        max-height: 5000px; /* Set to a larger height when expanded */
        opacity: 1; /* Fully visible */
    }
    </style>
    <script type="module">
        const imported_key = localStorage.getItem("notes_key") ? await crypto.subtle.importKey(
            'raw',
            hexStringToArrayBuffer(localStorage.getItem("notes_key").substr(4)),
            { name: 'AES-GCM', length: 256 },
            true,
            ['encrypt', 'decrypt']
        ) : '';

        function hexStringToArrayBuffer(hexString) {
            const length = hexString.length / 2;
            const array_buffer = new ArrayBuffer(length);
            const uint8_array = new Uint8Array(array_buffer);
        
            for (let i = 0; i < length; i++) {
                const byte = parseInt(hexString.substr(i * 2, 2), 16);
                uint8_array[i] = byte;
            }
        
            return array_buffer;
        }

        async function decryptWithKey(encryptedText) {
            const encrypted_data = new Uint8Array(atob(encryptedText).split('').map(char => char.charCodeAt(0)));
            const iv = encrypted_data.slice(0, 12);
            const ciphertext = encrypted_data.slice(12);

            const decrypted_buffer = await crypto.subtle.decrypt(
                { name: 'AES-GCM', iv },
                imported_key,
                ciphertext
            );
        
            const decoder = new TextDecoder();
            const decrypted_text = decoder.decode(decrypted_buffer);
            return decrypted_text;
        }

        async function decryptNotes() {
            if(localStorage.getItem("notes_key"))
            {
                const datalist = new Set();
                const cards = document.querySelectorAll('.decryptMe');
                for (var i = 0; i < cards.length; i++) {
                    const converter = new showdown.Converter({	
                        metadata: true,
                        parseImgDimensions: true,
                        strikethrough: true,
                        tables: true,
                        ghCodeBlocks: true,
                        smoothLivePreview: true,
                        simpleLineBreaks: true,
                        emoji: true, 
                    });
                    const markdown = await decryptWithKey(cards[i].innerHTML);
                    const html = converter.makeHtml(markdown);
                    const metadata = converter.getMetadata();
                    const card = cards[i].parentNode.parentNode;
                    if(metadata && metadata.title) {
                        card.querySelector('.title').innerHTML = '&nbsp;' + metadata.title;
                    }
                    if(metadata && metadata.tags) {
                        let tags = metadata.tags.replace('[','').replace(']','').split(',');
                        card.querySelector('.tags').innerHTML = tags.map(t => {
                            datalist.add(t);
                            return `<span class="chip">#${t}</span>`;}).join(''); 
                    }
                    cards[i].innerHTML = html;
                }

                datalist.forEach(value => {
                    const option = document.createElement('option');
                    option.value = `#${value}`;
                    document.getElementById('noteTags').appendChild(option);
                });

                const allCards = document.querySelectorAll('.card');
                allCards.forEach(card => {
                    const height = window.getComputedStyle(card).height;
                    if (height === '500px') {
                        card.classList.add('fadeout');
                        card.querySelector('.expandBtn').classList.remove('hide')
                    } else {
                        //card.setAttribute('onclick', '');
                        card.classList.add('no-pointer');
                    }
                });

                hljs.highlightAll();
            }
        }

        async function encryptWithKey(text) {
            const iv = crypto.getRandomValues(new Uint8Array(12));
            const encoder = new TextEncoder();
            const plaintext_buffer = encoder.encode(text);
        
            const ciphertext_buffer = await crypto.subtle.encrypt(
                { name: 'AES-GCM', iv },
                imported_key,
                plaintext_buffer
            );
        
            const encrypted_data = new Uint8Array([...iv, ...new Uint8Array(ciphertext_buffer)]);
            const base64_encoded = btoa(String.fromCharCode(...encrypted_data));
            return base64_encoded;
        }
        if (document.readyState === "loading") {
            document.addEventListener("DOMContentLoaded", async function(event) {
                //document.getElementById('app-sidebar').innerHTML = document.getElementById('notebooks').innerHTML;
                await decryptNotes();
            });
        }
        else
        {
            //document.getElementById('app-sidebar').innerHTML = document.getElementById('notebooks').innerHTML;
            await decryptNotes();
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</div>