<style>
    #notebooks {
        list-style: none;
    }
</style>
<div class="container ">
    <form id="add_notebook" method="POST" action="/notebook/add">
        <div class="hide-if-user-has-no-javascript input-group float-right mb-2 mt-2">
            <input type="text" name="name" class="form-input" placeholder="Name...">
            <button onclick="addLoading(this)" type="submit" class="btn btn-primary"><i class="bi bi-plus"></i> Notebook</button>
        </div>
    </form>
    <div class="no-border panel mb-2 mt-2 p-2 bg-primary hide-if-user-has-javascript" style="clear:both">
        <p>Accessing notes requires JavaScript to be enabled.</p>
    </div>
    <div id="enter_notes_key" class="hide-if-user-has-no-javascript no-border panel mb-2 mt-2 p-2" style="clear:both">
        <p>Notes are encrypted in the browser before sending them to the server, so neither Lillihub nor Micro.blog sees the note text.</p>
        <div>
            <p>You will need to enter your secret key into Lillihub to access/create your notes within the app. The key is saved in your browser's
            local storage and is never sent to Lillihub. You can review this file's source code to confirm.</p>
            <div class="input-group">
                <input id="notes_key" type="text" class="form-input bg-light" placeholder="Micro.blog Key">
                <button class="btn btn-primary" onclick="addLoading(this);localStorage.setItem('notes_key', document.getElementById('notes_key').value);window.location.href = '/notes';"><i class="bi bi-save"></i></button>
            </div>
        </div>
        <div id="hide_notes_key">
            <p><button class="btn btn-link d-inline" onclick="addLoading(this);localStorage.setItem('notes_key', '');window.location.href = '/notes';"><i class="bi bi-trash"></i> Clear out your secret key.</button></p>           
        </div>
    </div>
    <ul id="notebooks" class="hide-if-user-has-no-javascript" style="clear:both;">{{notebooks}}</ul>
    <div class="modal" id="modal">
        <a onclick="closeModal()" href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
            <a onclick="closeModal()" href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">Rename notebook</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <p>You can move this note to a new notebook.</p>
                    <input type="hidden" id="notebook-id"/>
                    <input class="form-input" type="text" id="notebook-name"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="addLoading(this);saveRename();">Save</button>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('hide_notes_key').style.display = 'none';
        document.getElementById('notebooks').style.display = 'none';
        document.getElementById('add_notebook').style.display = 'none';
        if(localStorage.getItem("notes_key")) {
            document.getElementById('enter_notes_key').style.display = 'none';
            document.getElementById('hide_notes_key').style.display = 'block';
            document.getElementById('notebooks').style.display = 'block';
            document.getElementById('add_notebook').style.display = 'block';
        }
        // hide sidebar
        document.getElementById('app-sidebar').style.display = 'none';
        
        document.addEventListener('DOMContentLoaded', function(event) {
            document.querySelector('.app-footer').style.display = 'none';
            document.querySelector('.app-footer').classList.remove('show-sm');
        });
        
        // add rename and delete
        function rename(id, name) {
            document.getElementById('notebook-name').value = name;
            document.getElementById('notebook-id').value = id;
            document.getElementById('modal').classList.add('active');
        }
        function closeModal() {
            document.getElementById('modal').classList.remove('active');
        }
        async function saveRename() {
            var id = document.getElementById('notebook-id').value;
            var name = document.getElementById('notebook-name').value;

            const form = new URLSearchParams();
            form.append("name", name);
            form.append("notebook_id", id);
                
            const posting = await fetch('/notebook/rename', {
                method: "POST",
                body: form.toString(),
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded; charset=utf-8"
                }
            }).then(data => {
                window.location.href = '/notes';
            }); 
        }
        async function deleteConfirmed(id) {
            const form = new URLSearchParams();
            form.append("notebook_id", id);
                
            const posting = await fetch('/notebook/delete', {
                method: "POST",
                body: form.toString(),
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded; charset=utf-8"
                }
            }).then(data => {
                window.location.href = '/notes';
            }); 
        }
    </script>
</div>