<div class="container">
    {{favorites}}
</div>
{{feed}}
<div class="paging clearfix">
    <ul class="pagination float-left">
        <li class="page-item">
            <a href="/" tabindex="-1">Refresh</a>
        </li>
    </ul>
    <ul class="pagination float-right">
        <li class="page-item {{before}}">
            <a href="/?before={{beforeId}}" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a href="/?last={{lastId}}">Next</a>
        </li>
    </ul>
</div>
<div class="clearfix">&nbsp;</div>