<div class="note small-padding" 
                    data-parent="${id}"
                    data-id="${results.id}" 
                    data-encypted="${results._microblog.is_encrypted}" 
                    data-content="${results.content_text ?results.content_text : results.content_html}">
                    <nav>
                        <div class="field large prefix round fill active max">
                            <i class="front">search</i>
                            <input id="search" onInput="liveSearch('li','search')">
                        </div>
                        <label class="switch">
                            <input id="showCompleted" type="checkbox">
                            <span>&nbsp;&nbsp;Show done</span>
                        </label>
                    </nav>

                    <ul class="list border" id="tasks">
                        <li class="list border"><progress class="circle small"></progress></li>
                    </ul>
                </div>
                <dialog id="dialog-edit" class="max">
                    <header class="fixed front">
                        <nav>
                            <div class="max truncate">
                                <h5>Manage Todo</h5>
                            </div>
                            <button data-ui="#dialog-edit" class="circle transparent">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                    </svg>
                                </i>
                            </button>
                        </nav>
                    </header>
                    <div class="field textarea">
                        <input id="lineId" type="hidden" />
                        <textarea style="height:70vh;" id="content"></textarea>
                        <div class="medium-space"></div>
                        <button id="deleteMe" evt-click='delete' class="error-text border">Delete</button>
                        <button id="moveBottom" evt-click='moveDown' class="border">Move to bottom of list</button>
                        <button evt-click='save'>Save</button>
                    </div>
                </dialog>
                <style>
                .list li {overflow:auto;}
                /*.done {display: none !important;}*/
                </style>
                <script>
                    function addTodo() {
                        document.getElementById('deleteMe').classList.add('hide');
                        document.getElementById('moveBottom').classList.add('hide');
                        document.getElementById('content').value = '';
                        document.getElementById('lineId').value = '-1';
                        document.getElementById('dialog-edit').showModal();
                    }
                    function saveTodos() {
                        let tasks = document.querySelectorAll('[data-task]');
                        var note = '---\\ntype: todo.txt\\ntitle: todo.txt\\n---\\n';
                        for (var i = 0; i < tasks.length; i++) {
                            note += decodeURIComponent(tasks[i].getAttribute('data-task')) + '\\n\\n';
                        }

                        window.encryptWithKey(note).then(async result => {
                            const form = new URLSearchParams();
                            form.append("text", result);
                            form.append("notebook_id", ${parent});
                            ${id != 0 ? `form.append("id", ${id});` : ''}
                            const posting = await fetch('/note/update', {
                                method: "POST",
                                body: form.toString(),
                                headers: {
                                    "Content-Type": "application/x-www-form-urlencoded; charset=utf-8"
                                }
                            });
                        });

                        document.getElementById('tasks').innerHTML = converter.makeHtml(note);
                        window.createTaskList();
                    }
                    const converter = new showdown.Converter({	
                                metadata: true,
                                parseImgDimensions: true,
                                strikethrough: true,
                                tables: true,
                                ghCodeBlocks: true,
                                simpleLineBreaks: true,
                                emoji: true, 
                            });         
                    function getDateTimeId() {
                        var date = new Date();
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0');
                        const day = String(date.getDate()).padStart(2, '0');
                        const hours = String(date.getHours()).padStart(2, '0');
                        const minutes = String(date.getMinutes()).padStart(2, '0');
                        const seconds = String(date.getSeconds()).padStart(2, '0');
                        const milliseconds = String(date.getMilliseconds()).padStart(3, '0');

                        //console.log(year +'-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds + '.' + milliseconds)
                        return year +'-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds + '.' + milliseconds;
                    }
                    function isDateTimeId(str) {
                        //console.log(str,str.includes('-') && str.includes(':') && str.includes('.') && str.includes(' ') && str.length == 23)
                        return str.includes('-') && str.includes(':') && str.includes('.') && str.includes(' ') && str.length == 23;
                    }
                    let timeIdLen = 23;
                    document.addEventListener("click", async (event) => {
                        if(!event.target.getAttribute('evt-click')) {
                            return;
                        } else {
                            if(event.target.getAttribute('evt-click') == 'edit') {
                                document.getElementById('deleteMe').classList.remove('hide');
                                document.getElementById('moveBottom').classList.remove('hide');
                                id = event.target.getAttribute('data-line-id');
                                text = event.target.textContent;
                                document.getElementById('content').value = text;
                                document.getElementById('lineId').value = id;
                                document.getElementById('dialog-edit').showModal();
                            }
                            if(event.target.getAttribute('evt-click') == 'moveDown') {
                                var line = document.getElementById('lineId').value;
                                var task = document.querySelector('[data-line-id="'+line+'"]');
                                var text = decodeURIComponent(task.getAttribute('data-task'));

                                if(text[0] == '(') {
                                    if(isDateTimeId(text.substring(4,timeIdLen))) {
                                        text = getDateTimeId() + ' ' + text.slice(timeIdLen + 4);
                                    } else {
                                        text = getDateTimeId() + ' ' + text.slice(4);
                                    }
                                } else {
                                    if(isDateTimeId(text.substring(0,timeIdLen))) {
                                        text = getDateTimeId() + ' ' + text.slice(timeIdLen + 1);
                                    } else {
                                        text = getDateTimeId() + ' ' + text;
                                    }
                                }

                                task.setAttribute('data-task', encodeURIComponent(text));
                                saveTodos();
                                document.getElementById('dialog-edit').close();
                            }
                            if(event.target.getAttribute('evt-click') == 'check') {
                                id = event.target.getAttribute('data-id');
                                var task = document.querySelector('[data-line-id="'+id+'"]');
                                var text = decodeURIComponent(task.getAttribute('data-task'));
                                if(text[0] == '(') {
                                    var priority = text.substring(0,3);
                                    console.log(priority)
                                    text = 'x ' + priority + ' ' + new Date().toISOString().split('T')[0] + ' ' + text.slice(4);
                                } else {
                                    text = 'x ' + ' ' + new Date().toISOString().split('T')[0] + ' ' + text;
                                }
                                task.setAttribute('data-task', encodeURIComponent(text));
                                saveTodos();
                            }
                            if(event.target.getAttribute('evt-click') == 'delete') {
                                if(confirm('Are you sure you want to delete this?')) {
                                    var line = document.getElementById('lineId').value;
                                    var task = document.querySelector('[data-line-id="'+line+'"]');
                                    task.remove();
                                    saveTodos();
                                    document.getElementById('dialog-edit').close();
                                }
                            }
                            if(event.target.getAttribute('evt-click') == 'save') {
                                var text = document.getElementById('content').value;
                                var line = document.getElementById('lineId').value;
                                var tasks = text.split('\\n');

                                var task = document.querySelector('[data-line-id="'+line+'"]');
                                if(task) {
                                    task.setAttribute('data-task',encodeURIComponent(tasks[0]));
                                } else {
                                    if(tasks[0][0] == '(') {
                                        var priority = tasks[0].substring(0,3);
                                        tasks[0] = priority + ' ' + getDateTimeId() + ' ' + tasks[0].slice(4);
                                    } else {
                                        tasks[0] = getDateTimeId() + ' ' + tasks[0];
                                    }
                                    document.getElementById('tasks').insertAdjacentHTML('beforeend', '<li><h6 data-task="'+encodeURIComponent(tasks[0])+'">new</h6></li>')
                                }

                                for(var i = 1; i < tasks.length; i++) {
                                    if(tasks[0][0] == '(') {
                                        var priority = tasks[i].substring(0,3);
                                        tasks[i] =  priority + ' ' + getDateTimeId() + ' ' + tasks[i].slice(4);
                                    } else {
                                        tasks[i] = getDateTimeId() + ' ' + tasks[i];
                                    }
                                    document.getElementById('tasks').insertAdjacentHTML('beforeend', '<li><h6 data-task="'+encodeURIComponent(tasks[i])+'">new</h6></li>')
                                }
                                
                                saveTodos();
                                document.getElementById('dialog-edit').close();
                            }
                        }
                    });
                    window.createTaskList = function() {
                        const sortList = list => [...list].sort((a, b) => {
                            const A = a.textContent, B = b.textContent;
                            return (A < B) ? -1 : (A > B) ? 1 : 0;
                        });
                        let tasks = document.querySelectorAll('p');
                        for (var i = 0; i < tasks.length; i++) {
                            var task = tasks[i];
                            var li = document.createElement('li');
                            var markup = task.innerHTML;

                            var taskId;
                            if(markup[0] == '(') {
                                //console.log('has priority')
                                //console.log(markup.substring(4,timeIdLen + 4))
                                //console.log(isDateTimeId(markup.substring(4,timeIdLen + 4)))
                                if(isDateTimeId(markup.substring(4,timeIdLen + 4))) {
                                    taskId = markup.substring(4,timeIdLen + 4);
                                    markup = markup.substring(0,3) + '<span class="chip no-elevate hide">' + markup.substring(4,timeIdLen) + '</span>' + ' ' + markup.slice(timeIdLen + 4);
                                } 
                            } else {
                                if(isDateTimeId(markup.substring(0,timeIdLen))) {
                                    taskId = markup.substring(0,timeIdLen);
                                    markup = '<span class="chip no-elevate hide">' + markup.substring(0,timeIdLen) + '</span>' + ' ' + markup.slice(timeIdLen + 1);
                                } 
                            }
                            markup = markup.replaceAll('(A)','<span onClick="searchTag(\\'(A)\\')" class="error-text">(A)</span>')
                                .replaceAll('(B)','<span onClick="searchTag(\\'(B)\\')" class="tertiary-text">(B)</span>')
                                .replaceAll('(C)','<span onClick="searchTag(\\'(C)\\')" class="secondary-text">(C)</span>');
                            var words = task.innerHTML.split(' ');
                            var contexts = [];
                            var projects = [];
                            for(var j=0; j < words.length; j++) {
                                if(words[j].charAt(0) == '@') {
                                    contexts.push(words[j]);
                                    markup = markup.replaceAll(words[j],'<span onClick="searchTag(\\''+words[j]+'\\')" class="primary-text">' + words[j] + '</span>')
                                }
                                if(words[j].charAt(0) == '+') {
                                    projects.push(words[j]);
                                    markup = markup.replaceAll(words[j],'<span onClick="searchTag(\\''+words[j]+'\\')" class="primary-text">' + words[j] + '</span>')
                                }
                            }
                            if(task.innerHTML.charAt(0) == 'x') 
                            {
                                li.innerHTML = '<label class="checkbox"><input evt-click="check" data-id="'+i+'" type="checkbox" checked disabled><span></span></label><div class="max"><h6 '+(taskId ? 'data-task-id="'+taskId+'"' : '')+' evt-click="edit" data-line-id="'+i+'" data-task="'+task.innerHTML+'" class="small"><del evt-click="edit" data-line-id="'+i+'">' + markup + '</del></h6>';
                                li.classList.add('done');
                            }
                            else
                            {
                                li.innerHTML = '<label class="checkbox"><input evt-click="check" data-id="'+i+'" type="checkbox"><span></span></label><div class="max"><h6 '+(taskId ? 'data-task-id="'+taskId+'"' : '')+' evt-click="edit" data-line-id="'+i+'" data-task="'+task.innerHTML+'" class="small">' + markup + '</h6>';
                            }
                            task.parentNode.replaceChild(li, task);
                        }
                        const ul = document.getElementById("tasks");
                        const list = ul.querySelectorAll("li");
                        ul.append(...sortList(list));
                        document.getElementById('search').dispatchEvent(new Event("input"));
                    }
                </script>
                ${decryptNotes(`
                    let element = document.querySelector('.note');
                    var item = {};
                    item.content_text = element.getAttribute('data-content');
                    item.encrypted = element.getAttribute('data-encypted') == 'true' ? true : false;
                    item.content_html = element.getAttribute('data-content');
                    item.id = element.getAttribute('data-id');
                    var result = await note(item,converter);
                    document.getElementById('tasks').innerHTML = item.content_html;
                    window.createTaskList();
                `)}