<style>{{easyMDECSS}}</style>
<script>{{easyMDEJS}}</script>
<script>{{compressor}}</script>

<ul class="breadcrumb pl-2">
    <li class="breadcrumb-item">
        <a onclick="addLoading(this)" href="/notes/{{id}}">{{name}}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">{{breadcrumb}}</a>
    </li>
</ul>
{{viewVersion}}
<!-- form switch control -->
<div class="form-group">
    <label class="form-switch">
        <input id="autosave" type="checkbox">
        <i class="form-icon"></i> Enable autosave (Note: this saves the unencrypted value in your localStorage)
    </label>
</div>
<div class="box">
    <input type="hidden" id="original" value="{{originalValue}}" />
    <textarea id="content"></textarea>
</div>
<button onclick="addLoading(this)" class="btn btn-primary m-2 float-right" id="saveNoteBtn">Save Note</button>
<p><mark>Note:</mark> Images that are dragged/dropped or copied in are saved to your default Micro.blog media upload and are <b>not</b> encrypted.</p>
{{versions}}
{{editDelete}}
<div style="clear:both"></div>
<script type="module">
    var options = {
        element: document.getElementById('content'),
        uploadImage: true,
        minHeight: '50vh',
        showIcons: ["code"],
        nativeSpellcheck: true,
        inputStyle: 'contenteditable',
        status: ["upload-image", "autosave", "lines", "words", "cursor"],
        imageUploadFunction: async (image, onSuccess, onError) => {
            let formData = new FormData();
            formData.append("destination", "{{mpDestination}}"); 
            new Compressor(image, {
                quality: 0.95,
                maxHeight: 1920,
                maxWidth: 1920,
                success(result) {
                    console.log('new size: ' + result.size /1024 /1024 + ' MB');
                    if(result.size /1024 /1024 > 3) {
                        new Compressor(result, {
                            quality: 0.85,
                            maxHeight: 1920,
                            maxWidth: 1920,
                            success(result) {
                                console.log('another compress size: ' + result.size /1024 /1024 + ' MB');
                                formData.append("media", result, result.name);
                                fetch('/media/upload', { method: "POST", body: formData })
                                    .then(response => console.log(response.status) || response)
                                    .then(response => response.text())
                                    .then(body => onSuccess(body));
                            },
                        });
                    } else {
                        formData.append("media", result, result.name);
                        fetch('/media/upload', { method: "POST", body: formData })
                            .then(response => console.log(response.status) || response)
                            .then(response => response.text())
                            .then(body => onSuccess(body));
                    }
                },
            });
        },
        autosave: {
            enabled: localStorage.getItem('autosave-note-{{id}}-{{vid}}') ? true : false,
            uniqueId: "note-{{id}}-{{vid}}",
            delay: 1000,
            submit_delay: 5000,
            timeFormat: {
                locale: 'en-US',
                format: {
                    year: 'numeric',
                    month: 'long',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                },
            },
            text: "Autosaved: "
        },
    };

    let easymde = new EasyMDE(options);

    function autoSaveToggled(evt) {
        if(document.getElementById('autosave').checked) {
            localStorage.setItem('autosave-note-{{id}}-{{vid}}','true');
            options.autosave.enabled = true;
            easymde.toTextArea();
            easymde = new EasyMDE(options);
        } else {
            localStorage.setItem('autosave-note-{{id}}-{{vid}}','');
            options.autosave.enabled = false;
            localStorage.setItem('smde_note-{{id}}-{{vid}}','');
            easymde.toTextArea();
            easymde = new EasyMDE(options);
        }
    }

    const imported_key = localStorage.getItem("notes_key") ? await crypto.subtle.importKey(
        'raw',
        hexStringToArrayBuffer(localStorage.getItem("notes_key").substr(4)),
        { name: 'AES-GCM', length: 256 },
        true,
        ['encrypt', 'decrypt']
    ) : '';

    function hexStringToArrayBuffer(hexString) {
        const length = hexString.length / 2;
        const array_buffer = new ArrayBuffer(length);
        const uint8_array = new Uint8Array(array_buffer);
       
        for (let i = 0; i < length; i++) {
            const byte = parseInt(hexString.substr(i * 2, 2), 16);
            uint8_array[i] = byte;
        }
       
        return array_buffer;
    }

    async function decryptWithKey(encryptedText) {
        const encrypted_data = new Uint8Array(atob(encryptedText).split('').map(char => char.charCodeAt(0)));
        const iv = encrypted_data.slice(0, 12);
        const ciphertext = encrypted_data.slice(12);

        const decrypted_buffer = await crypto.subtle.decrypt(
            { name: 'AES-GCM', iv },
            imported_key,
            ciphertext
        );
       
        const decoder = new TextDecoder();
        const decrypted_text = decoder.decode(decrypted_buffer);
        return decrypted_text;
    }

    async function decryptNotes() {
        if(localStorage.getItem("notes_key"))
        {
            const converter = new showdown.Converter();
            const cards = document.querySelectorAll('.decryptMe');
            for (var i = 0; i < cards.length; i++) {
                cards[i].innerHTML = converter.makeHtml(await decryptWithKey(cards[i].innerHTML));
            }
        }
    }

    async function encryptWithKey(text) {
        const iv = crypto.getRandomValues(new Uint8Array(12));
        const encoder = new TextEncoder();
        const plaintext_buffer = encoder.encode(text);
       
        const ciphertext_buffer = await crypto.subtle.encrypt(
            { name: 'AES-GCM', iv },
            imported_key,
            plaintext_buffer
        );
       
        const encrypted_data = new Uint8Array([...iv, ...new Uint8Array(ciphertext_buffer)]);
        const base64_encoded = btoa(String.fromCharCode(...encrypted_data));
        return base64_encoded;
    }

    if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", async function(event) {
            if(localStorage.getItem('autosave-note-{{id}}-{{vid}}')) {
                if(!localStorage.getItem('smde_note-{{id}}-{{vid}}')) {
                    if({{is_shared}}) {
                        easymde.value(document.getElementById("original").value);
                    } else {
                        easymde.value(await decryptWithKey(document.getElementById("original").value));
                    }
                }
            }
            else {
                if({{is_shared}}) {
                    easymde.value(document.getElementById("original").value);
                } else {
                    easymde.value(await decryptWithKey(document.getElementById("original").value));
                }
            }
            document.getElementById("saveNoteBtn").onclick = registerClick;
            document.getElementById("autosave").addEventListener('change', autoSaveToggled);
            document.getElementById("autosave").checked = localStorage.getItem('autosave-note-{{id}}-{{vid}}') ? true : false;
        });
    }
    else
    {
        if(document.getElementById("original").value) {
            if(localStorage.getItem('autosave-note-{{id}}-{{vid}}')) {
                if(!localStorage.getItem('smde_note-{{id}}-{{vid}}')) {
                    if({{is_shared}}) {
                        easymde.value(document.getElementById("original").value);
                    } else {
                        easymde.value(await decryptWithKey(document.getElementById("original").value));
                    }
                }
            }
            else {
                if({{is_shared}}) {
                    easymde.value(document.getElementById("original").value);
                } else {
                    easymde.value(await decryptWithKey(document.getElementById("original").value));
                }
            }
        }
        document.getElementById("saveNoteBtn").onclick = registerClick;
        document.getElementById("autosave").addEventListener('change', autoSaveToggled);
        document.getElementById("autosave").checked = localStorage.getItem('autosave-note-{{id}}-{{vid}}') ? true : false;
    }

    async function registerClick() {
        let note = easymde.value();
        let eNote = '';
        if(note) {
            if({{is_shared}}) {
                eNote = note;
            } else {
                eNote = await encryptWithKey(note);
            }      
            const form = new URLSearchParams();
            form.append("text", eNote);
            form.append("notebook_id", {{id}});
            {{editAppend}}
                
            const posting = await fetch('/note/update', {
                method: "POST",
                body: form.toString(),
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded; charset=utf-8"
                }
            });
            localStorage.setItem('smde_note-{{id}}-{{vid}}','')
            window.location.href = '/notes/{{id}}';
        }
    }

    function downloadHTML() {
        let id =  document.getElementById('noteId').value;
        var html = document.getElementById(id).innerHTML;
        var title = document.getElementById(id).getAttribute('data-title') + '.html';
        download(title, html);
    }
    function downloadMarkdown() {
        let id =  document.getElementById('noteId').value;
        var markdown = document.getElementById(id).getAttribute('data-markdown');
        var title = document.getElementById(id).getAttribute('data-title') + '.md';
        download(title, markdown);
    }
    function download(filename, text) {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }
</script>